<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.skip-library-validation</key>
	<true/>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-conference-room-display</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-purge-topshelf</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-reboot</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-relaunch</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-relaunch-backboardd</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-remote-pairing</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-screen-saver</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-shared-state-access</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-sleep</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-sleep-timeout</key>
	<true/>
	<key>com.apple.duet.activityscheduler.allow</key>
	<true/>
	<key>com.apple.appletv.pbs.allow-user-interface-style-change</key>
	<true/>
	<key>com.apple.appletv.pbs.display-manager-service-access</key>
	<true/>
	<key>com.apple.appletv.pbs.mediaremote</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>com.apple.wifi.plist</string>
		<string>preferences.plist</string>
		<string>com.apple.network.identification.plist</string>
		<string>com.apple.PowerManagement.plist</string>
	</array>
	<key>com.apple.appletv.pbs.allow-siri-actions</key>
	<true/>
	<key>com.apple.private.dmd.policy</key>
	<true/>
</dict>
</plist>
